* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.results {
  display: flex;
  justify-content: center;
}

.list {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

.list li {
  width: 25%;
  padding: 10px;
  margin: 15px 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.list li p {
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  margin: 10px;
  padding: 5px;
  font-size: 18px;
}
